<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpInc</title>

    <link rel="stylesheet" type="text/css" href="~/lib/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="~/css/index.css">

    <script type="text/javascript" src="~/lib/semantic/semantic.js"></script>
</head>
<body>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
