
@{
    ViewData["Title"] = "Home";
    Layout = "_Home";
}

<header>
    <nav>
        <div class="ui equal width center aligned padded grid">
            <div class="row menu-superior">
                <div class="column"></div>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="ui equal width center aligned padded grid">
        <div class="row linha-cinza">
            <div class="column"></div>
        </div>

        <div class="row">
            <div class="column"></div>
        </div>

        <div class="row linha-cinza">
            <div class="column"></div>
        </div>

        <div class="row">
            <div class="column"></div>
        </div>
    </div>
</section>