
@{
    ViewData["Title"] = "Home";
    Layout = "_Home";
}

<div id="Glide-container">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            <li class="glide__slide"><img src="~/images/Home/Carousel/imagem-1.jpg"></li>
            <li class="glide__slide"><img src="~/images/Home/Carousel/imagem-2.jpg"></li>
            <li class="glide__slide"><img src="~/images/Home/Carousel/imagem-3.jpg"></li>
        </ul>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]"></div>
</div>

<section>
    <div id="Main-content" class="ui grid">
        <div class="row row-grey">
            <div class="sixteen column">
                <div class="row">
                    <div id="First-column" class="column">
                        <div class="Tall-title-text">A NOSSA MISSÃO</div>
                        <div class="Small-title-text">Trazer até você o serviço que você precisa</div>
                    </div>
                </div>

                <div id="Icons-grid" class="row">
                    <h2 class="ui icon header">
                        <i class="settings icon"></i>

                        <div class="content">
                            Negócio Inteligente
                            <div class="sub header">
                                A Help Inc. coloca você de frente
                                <br />
                                com o seu prestador. Seja ele uma
                                <br />
                                empresa, grupo ou autonomo.
                                <br />
                                Utilizar a Help Inc. leva o que
                                <br />
                                você precisa até você!
                            </div>
                        </div>
                    </h2>

                    <h2 class="ui icon header">
                        <i class="globe icon"></i>

                        <div class="content">
                            Cobertura Nacional
                            <div class="sub header">
                                A Help Inc. está em todo o país!
                                <br />
                                Diversas empresas profissionais
                                <br />
                                dos quatro cantos do país se unem
                                <br />
                                para celebrar a liberdade em
                                <br />
                                prestações de serviços.
                            </div>
                        </div>
                    </h2>

                    <h2 class="ui icon header">
                        <i class="comments icon"></i>

                        <div class="content">
                            Contato Direto
                            <div class="sub header">
                                Conectamos o prestador diretamente
                                <br />
                                com o consumidor, de uma forma
                                <br />
                                horizontal e clara. Os profissinais
                                <br />
                                são mais bem avaliados de acordo
                                <br />
                                com o seu trabalho.
                            </div>
                        </div>
                    </h2>

                    <h2 class="ui icon header">
                        <i class="handshake icon"></i>

                        <div class="content">
                            Confiabilidade
                            <div class="sub header">
                                Possuímos um sistema que
                                <br />
                                somente libera o pagamento
                                <br />
                                após o serviço ser concluido.
                                <br />
                                Dando mais incentivo ao prestador
                                <br />
                                e confiabilidade ao consumidor.
                            </div>
                        </div>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row row-white">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <div class="Tall-title-text">
                            CIDADES
                            <small class="Small-title-text">Top 5</small>
                        </div>
                    </div>
                </div>

                <div class="ui row images">
                    <div class="column">
                        <img id="First-city-image" class="ui fluid centered image city-image" src="~/images/Home/Cidade/sao-paulo.jpg">
                        <img class="ui fluid image city-image" src="~/images/Home/Cidade/rio-de-janeiro.jpg">
                        <img class="ui fluid image city-image" src="~/images/Home/Cidade/belo-horizonte.jpg">
                        <img class="ui fluid image city-image" src="~/images/Home/Cidade/rio-de-janeiro.jpg">
                        <img class="ui fluid image city-image" src="~/images/Home/Cidade/belo-horizonte.jpg">
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="row">
            <img id="Mid-image" class="ui centered fluid image" src="~/images/Home/imagem-meio.jpg">
        </div>

        <div class="row row-grey">
            <div class="row">
                <div class="column">
                    <div class="Tall-title-text">
                        Lorem Ipsum
                        <small class="Small-title-text"> Lorem Ipsum Lorem Ipsum</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-white">
            <div class="row">
                <div class="column">
                    <div class="Tall-title-text">
                        Lorem Ipsum
                        <small class="Small-title-text"> Lorem Ipsum Lorem Ipsum</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div id="Footer-content" class="ui equal width aligned padded grid">
        <div class="row">
            <div class="column">
                <p>© 2019 Help Inc.Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
</footer>