
@{
    ViewData["Title"] = "Home";
}

<nav>
    <div class="ui equal width center aligned padded grid">
        <div class="row menu-superior">
            <div class="column">Lorem Ipsum</div>
        </div>
    </div>
</nav>

<section>
    <div class="ui equal width center aligned padded grid">
        <div class="row linha-cinza">
            <div class="column">Lorem Ipsum</div>
        </div>

        <div class="row">
            <div class="column">Lorem Ipsum</div>
        </div>

        <div class="row linha-cinza">
            <div class="column">Lorem Ipsum</div>
        </div>

        <div class="row">
            <div class="column">Lorem Ipsum</div>
        </div>
    </div>
</section>