/* Popup Login*/
#Input-email, #Input-password {
    width: 230px !important;
}

#Button-entrace {
    width: 270px !important;
    background-color: #313540 !important;
}

#Row-password, #Row-entrace {
    margin-top: 20px;
}

/* Rows */
#Main-content > .row {
    padding: 0px !important;
}

#Main-content > .row-white {
    min-height: 400px;
}

#Main-content > .row-grey {
    min-height: 400px;
    background-color: #F2F2F2 !important;
}

#Mid-image {
    max-height: 500px;
}

#Last-row {
    min-height: 250px !important;
}

/* Texto */
#Main-content #First-column {
    text-align: center;
}

#Main-content .secondary-column {
    margin-left: 30px !important;
}

#Icons-grid {
    margin-top: 15px;
    text-align: center;
    text-justify: inter-word;
}

    #Icons-grid > .header {
        margin-right: 20px;
        margin-left: 20px;
        min-height: 204px !important;
    }

.tall-title-text {
    display: inline-block !important;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0047AB;
}

.small-title-text {
    display: inline-block !important;
    font-size: 25px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: #2FB5D4;
}

.item-centered-group {
    text-align: center;
}

/* Cidade */
.city-image {
    max-width: 190px !important;
    max-height: 330px;
    margin-right: 25px !important;
    margin-left: 25px !important;
}

    .city-image > img {
        border-radius: 5px !important;
    }


/* Cards */
.card-icon {
    font-size: 20px !important
}

/* Footer */
#Footer-content > .row {
    height: 45px;
    background-color: #343440 !important;
}

    #Footer-content > .row > .column {
        color: #FFFFFF;
    }
