
@{
    ViewData["Title"] = "Login";
    Layout = "_Account";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div id="Contents">
            <img src="../../images/Generic/Logo.png" class="ui centered image ">

            <form id="Form-login" class="ui large form" asp-action="Logar" asp-controller="Login" method="post">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" id="Input-email" name="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            <i class="fas fa-key"></i>
                        </div>
                        <input type="password" id="Input-password" name="password" placeholder="Senha">
                    </div>
                </div>

                <button type="submit" id="Button-entrace" class="ui fluid large teal submit button ">ENTRAR</button>
            </form>

            
            <div class="content center">
                <a id="Forgot-password" href="#">Esqueceu a senha ?</a>
            </div>
        </div>
    </div>
</div>
