
@{
    ViewData["Title"] = "Index";
    Layout = "_Login";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div id="Contents">
            <img src="../../images/Generic/Logo.png" class="ui centered image ">

            <form class="ui large form">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            <i class="fas fa-user"></i>
                        </div>
                        <input id="Input-email"type="text" name="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            <i class="fas fa-key"></i>
                        </div>
                        <input id="Input-password" type="password" name="password" placeholder="Senha">
                    </div>
                </div>
            </form>

            <div id="Button-entrace" class="ui fluid large teal submit button ">ENTRAR</div>
            <div class="content center">
                <a id="Forgot-password" href="#">Esqueceu a senha ?</a>
            </div>
        </div>
    </div>
</div>
