
@{
    ViewData["Title"] = "Registro";
    Layout = "_Login";
}

<div id="tela-registro">
    <div class="ui three item menu">
        <a class="item active" data-tab="first">CONSUMIDOR</a>
        <a class="item" data-tab="second">PRESTADOR</a>
        <a class="item" data-tab="third">EMPRESARIAL</a>
    </div>

    <!--<img class="ui letf top aligned medium image" src="Default_Image.png"> -->

    <form class="ui segment form">
        <h4 class="ui dividing header">Login</h4>
        <div class="ui grid">
            <div class="two column row">
                <div class="wide column">
                    <div class="ui labeled input">
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="wide column">
                    <div class="ui labeled input">
                        <input type="password" name="password" placeholder="Senha">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab active" data-tab="first">
            <div class="ui top attached tabular menu">
                <h4 class="ui dividing header">Dados Pessoais</h4>

                <div class="ui grid">
                    <div class=" two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Nome" placeholder="Nome">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Sobrenome" placeholder="Sobrenome">
                            </div>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="CPF" placeholder="CPF">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="RG" placeholder="RG">
                            </div>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Telefone" placeholder="Telefone">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Celular" placeholder="Celular">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="second">
            <div class="ui top attached tabular menu">
                <h4 class="ui dividing header">Dados Pessoais</h4>

                <div class="ui grid">
                    <div class=" two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Nome" placeholder="Nome">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Sobrenome" placeholder="Sobrenome">
                            </div>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="CPF" placeholder="CPF">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="RG" placeholder="RG">
                            </div>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Telefone" placeholder="Telefone">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Celular" placeholder="Celular">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui tab" data-tab="third">
            <div class="ui top attached tabular menu">
                <h4 class="ui dividing header">Dados Empresariais</h4>
                <div class="ui grid">
                    <div class=" two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="NomeFantasia" placeholder="Nome Fantasia">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="RazaoSocial" placeholder="Razão Social">
                            </div>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="CNPJ" placeholder="CNPJ">
                            </div>
                        </div>

                        <div class=" wide column">
                            <div class="ui labeled input">
                                <input type="text" name="Telefone" placeholder="Telefone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="ui dividing header"> Endereço </h4>

        <div class="ui grid">
            <div class=" three column row ">
                <div class="column">
                    <div class="ui labeled input">
                        <input type="text" name="CEP" placeholder="CEP">
                    </div>
                </div>

                <div class="column">
                    <div class="ui labeled input">
                        <div class="ui fluid search selection dropdown" id="Estado">
                            <div class="default text">Estado</div>
                            <div class="menu">
                                <div class="item" data-value="af">Afghanistan</div>
                                <div class="item" data-value="ax">Aland Islands</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="ui labeled input">
                        <div class="ui labeled fluid search selection dropdown" id="Cidade">
                            <div class="default text">Cidade</div>
                            <div class="menu">
                                <div class="item" data-value="af">Afghanistan</div>
                                <div class="item" data-value="ax">Aland Islands</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="ten wide column">
                    <div class="ui labeled input">
                        <input type="text" name="Rua" placeholder="Rua">
                    </div>
                </div>

                <div class="six wide column">
                    <div class="ui labeled input">
                        <input type="text" name="Bairro" placeholder="Bairro">
                    </div>
                </div>
            </div>

            <div class=" two column row">
                <div class="wide column">
                    <div class="ui labeled input">
                        <input type="text" name="Numero" placeholder="Numero">
                    </div>
                </div>

                <div class="wide column">
                    <div class="ui labeled input">
                        <input type="text" name="Complemento" placeholder="Complemento">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="wide column">
                    <div class="ui labeled input">
                        <input type="text" name="Referencia" placeholder="Referencia">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>